.introduction{
    background-image: url("../images/h_img.jpg");
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 150px;
    line-height: 30px;
    margin: 0;
}
.introduction h1{
    font-size: 50px;
    color: white;
}
.introduction p{
    font-size: 20px;
    color:white;
}
.mouseimg{
    padding-top:150px;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#introp{
    display: flex;
    justify-content: center;
}
.about{
    height: 300px;
}
.about h1{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bolder;
}
.about p{
    text-align: center;
    font-size: 18px;
    margin-left: 100px;
    margin-right: 100px;
}
.services{
    background-image: url(../images/s_image.jpg);
    height: 450px;
    text-align: center;
    color: white;
    font-family: 'Nunito', sans-serif;
}
.services h2{
    padding-top: 100px;
    font-weight: bolder;
}
.services p{
    font-size: 20px;
}
.todo{
    background-size: 50px;
    
}
.todo h1{
    text-align: center;
    padding-top:30px;
    font-weight: bolder;
    font-size: 30px;
}
.todo h2{
    font-size: 25px;
}
.todo p{
    display: none;
}
.todo img,p{
    cursor: pointer;
}
/* .todo p{
    margin-right: 800px;
} */
.todo .row{
    display: flex;
    justify-content: space-evenly;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
}
.port h1{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 50px;
}
.port .row{
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left:100px;
}
.contact{
    background-image: url("../images/c_image.jpg");
    height:400px;
    margin-top: 100px;
}
input,textarea{
    opacity: 0.2;
    border: 3px solid white;
    margin-left:200px;
    margin-right: 0px; 
    margin-top: 20px
   
}
input{
    width: 400px;
}
.social{
    margin-top: 20px;
    text-align: center;
    /* display: flex;
    align-items: center; */
}
.end{
    text-align: center;
    margin-top: 10px;
}
.end p{
    line-height: 12px;
}





