.introduction{
    background-image: url("../images/h_img.jpg");
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 150px;
    line-height: 30px;
    margin: 0;
}
.introduction h1{
    font-size: 50px;
    color: white;
    line-height: 90px;
}
.introduction p{
    font-size: 15px;
    color:white;
}
.mouseimg{
    padding-top:150px;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#introp{
    display: flex;
    justify-content: center;
}
.about{
    height: 300px;
}
.about h2{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bolder;
}
.about p{
    text-align: center;
    font-size: 15px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.services{
    background-image: url(../images/s_image.jpg);
    height: 450px;
    text-align: center;
    color: white;
    font-family: 'Nunito', sans-serif;
}
.services h3{
    padding-top: 100px;
    font-weight: bolder;
}
.services p{
    font-size: 20px;
}
.todo{
    background-size: 50px;
    
}
.todo h1{
    text-align: center;
    padding-top:30px;
    font-weight: bolder;
    font-size: 30px;
}
.todo h2{
    font-size: 20px;
}
.todo p{
    display: none;
}
.todo img,p{
    cursor: pointer;
}
/* .todo p{
    margin-right: 800px;
} */
.todo .row{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
}
#head1{
    margin-left:15px;
}
#head2{
    margin-right: 15px;
}
#head3{
    margin-right: 10px;
}
.port h1{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 50px;
}
.port .row{
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left:100px;
}
.contact{
    background-image: url("../images/c_image.jpg");
    height:500px;
    margin-top: 100px;
    margin-left: 0;
    background-size: cover;

}
.contact h2{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0;
    color:white;
}
.contact input,textarea{
    background-color: transparent;
    color: aliceblue;
    
    
}
.contact input{
    margin-top: 40px;
    margin-left:300px;
    width: 250px;
}
.contact textarea{
    margin-top: 4px;
    margin-left:400px;
}
#submit{
    background-color: black;
    color:white;
    width: 90px;
    display: flex;
    justify-content: flex-start;
}
.social{
    margin-top: 20px;
    text-align: center;
    /* display: flex;
    align-items: center; */
}
.end{
    text-align: center;
    margin-top: 10px;
}
.end p{
    line-height: 12px;
}





